:root {
  --background-color: #1a1a1a;
  --background-alt-color: #404040;
  --background-light-color: #666;
  --accent-color: #e21bd1;
  --accent-alt-color: #b416a7;
  --rubber-ducky-yellow: yellow;
}